@media (orientation: portrait) and (max-width: 540px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
@media (orientation: portrait) and (max-width: 1024px) {
  /* ---------- Home - Hero ---------- */
  .carousel-dot {
    width: 3rem;
  }
}