@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css');
@import url('https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css');
/* ---------- CHADCN/UI ---------- */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}
/* ---------- Customization ---------- */
:root {
  --theme-color: hsl(192, 100%, 35%);
}
/* ---------- NAV ---------- */
.theme-color {
  color: var(--theme-color);
}
.logo-p {
  font-size: .59em;
}
.nav-item {
  @apply
    text-base
    font-medium
    text-gray-600
    bg-transparent;
}
.nav-item:hover {
  color: var(--theme-color) !important;
}
.nav-ul {
  @apply
    grid gap-3 p-6
    md:w-[400px]
    lg:w-[500px]
    lg:grid-cols-[.75fr_1fr];
}
/* --------------- Home (2) --------------- */
.home-h2 {
  @apply 
    text-2xl font-bold mb-6;
}
.home-btn {
  @apply
    w-28
    text-white font-semibold 
    rounded-full transform hover:scale-105 
    xl:absolute;
  padding: 8px 4px;
  background-color: var(--theme-color);
}
.home-btn:hover {
  background-color: hsl(192, 100%, 40%);
}
/* ---------- 1. Hero ---------- */
.hero {
  height: 90vh;
}
.hero-slide {
  @apply
    flex items-center justify-center
    grow-0 shrink-0 basis-0 
    px-20;
  flex: 0 0 100%;
}
.carousel-btn button svg {
  @apply
    text-2xl; 
}
.hero-btn {
  top: 70%;
}
/* ---------- 2. Carousel ---------- */
.carousel-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.carousel-dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 6rem;
  height: .2rem;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background-color: var(--theme-color);
}
.carousel-dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.carousel-dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
/* ---------- 3. Carousel ---------- */
.testimonial {
  height: 32vh;
}
/* ---------- 4. Products ---------- */
.products {
  height: 68vh;
}
/* ---------- 5. ProductAdv ---------- */
.productAdv {
  height: 55vh;
}
/* ---------- 6. HowItWorks ---------- */
.howItWorks {
  height: 45vh;
}
/* ---------- TESTING ---------- */
.testing {

}